%p Hi! Lets play top trumps.

%h2 1. Copy this example card code:
%textarea.span12{:rows => 20}
  some l33t codes

%h2
  2. Paste it into thimble and make it awesome:
  = link_to 'http://thimble.webmaker.org', 'https://thimble.webmaker.org/en-US/editor'

%h2
  3. Once you are ready to battle, publish your thimble and copy your thimble link back in here:

= simple_form_for Card.new, :html => {:class => 'form-inline'} do |form|
  = form.input_field :url, :label => false
  = form.button :submit, :class => 'btn-primary', :value => "Let's Go!"